:root {
  --primary-fg: white;
  --primary-bg: rgb(234, 242, 247);
  --secondary-fg: rgb(236, 229, 209);
  --secondary-bg: #63768D;
  --pop: white;
  --body-font: Verdana, Geneva, Tahoma, sans-serif;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

header, footer, main {
  padding: 1rem;
}

body {
  background-image: url('/images/site/small_check.jpg');
  background-position: top;
  background-attachment: fixed;
  background-repeat: repeat-y;
  margin: 0;
  font-family: var(--body-font);
  border-radius: 0;
  border-width: 0;
  transition: padding 1s;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav {
  color: var(--secondary-fg);
  background-color: var(--secondary-bg);
  background-image: linear-gradient(90deg, var(--secondary-bg), rgba(255, 255, 255, 0.258), var(--secondary-bg));
  width: 100%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.703);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}
main {
  display: flex;
  flex-direction: column;
}
footer {
  overflow: hidden;
}

nav a {
  display: inline-block;
  color: unset;
  filter: brightness(1.1);
  text-decoration: none;
  transition: transform .5s;
}
nav a:hover {
  transform: scale(1.1);
  transition: transform .5s;
}

a {
  color: unset;
}
a:hover {
  filter: brightness(1.4);
}

input:read-only {
  background-color: rgba(255, 255, 255, 0.55);
}

nav ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-around;
  list-style: none;
  padding: .5rem 2rem .5rem 2rem;
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1, h2{
  font-family: var(--body-font);
  color: black;
}

#wrapper {
  background-color: var(--primary-bg);
  color: var(--primary-fg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.498);
}

.content {
  display: flex;
  flex-direction: column;
  color: black;
}

.siteName a {
  font-family: var(--body-font);
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
}
.no-bullet {
  list-style: none;
  margin: 0;
  padding: 0;
}

#tools a {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  display: block;
}

.hero {
  padding: 1rem;
  background-color: white;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.111);
}

.hero img {
  width: 80%;
  grid-column: 1/4;
  grid-row: 1/2;
  justify-self: center;

}

.hero-text {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/2;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.703);
  color: black;
  padding: .5rem;
  box-shadow: 0 0 20px rgba(0, 102, 255, 0.092);
}
.hero-text input {
  align-self: center;
}

.hero ul {
  list-style: none;
  padding: 0;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-left: .1rem;
  padding-right: .1rem;
}


.caption-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-bg);
  color: var(--secondary-fg);
  border-radius: .5rem;
  overflow: hidden;
}

.caption-image > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.caption-image > p {
  padding: .5rem;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.127);
  width: 100%;
  text-align: center;
  color: var(--secondary-fg);
}

@media screen and (min-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: padding 1s;
  }
  #wrapper {
    width: 100%;
    max-width: 700px;
    border: 4px solid var(--secondary-bg);
    border-radius: .5rem;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  section#reviews {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  section#upgrades {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  ul#inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section.car-listing{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section.car-listing img {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  section.car-listing div.car-information {
    grid-column: 2/3;
    grid-row: 1/2;
  }

}